<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&amp;display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow, noai, noimageai">
    <link rel="stylesheet" href="/style.css">
    <title>{{ page.title }}</title>
</head>
<body>
    {{ content }}
    <footer>
        <p>Site hosted on <span style="color: #5d0565;">GitHub</span>.</p>
        <img src="https://cyber.dabamos.de/88x31/javascript-zero.gif" height="31" />
        <img src="https://cyber.dabamos.de/88x31/nocookie.gif" height="31" />
    </footer>
</body>
</html>