<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow, noai, noimageai">
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
    <title>Website Of MNIAK's Mystical Wonders</title>

</head>
<body>
<p>Click <a href="/music/">here</a> to return to blog.</p>
<h1>/*{{ page.title }}*/</h1>
<h3>Tags: {{ page.tags }}</h3>
{{ content }}
</body>
</html>
