

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow, noai, noimageai">
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
    <title>Website Of MNIAK's Mystical Wonders</title>

</head>
<body>
<small> Last updated: 30.07.26 // New stuff coming soon</small>
<h1></h1>
    <nav>
        <li>
            -\\ <a href="/">Home</a> ||
            <a href="/photos/">Wall of Pride</a> ||
            <a href="/projects/">projects</a> ||
            <a href="https://github.com/MNIAK000/mniak000.github.io">Source Code</a> ||
            <a href="/music/">Music</a> //-
        </li>
    </nav>
    <h1>/*{{ page.title }}*/</h1>
    {{ content }}
    <footer>
        <p>Site hosted on <span style="color: #5d0565;">GitHub</span>, but you already knew that.</p>
        <img src="https://cyber.dabamos.de/88x31/javascript-zero.gif" height="31" />
        <img src="https://cyber.dabamos.de/88x31/nocookie.gif" height="31" />
    </footer>

</body>
</html>

